@page "/factoryDemos"

<PageTitle>Factory Pattern Demos</PageTitle>

<h1>Coming Soon!!!!</h1>

Future page to show demos of  the following:
<ul>
    <li>Simple Factory</li>
    <li>Factory Method Pattern</li>
    <li>Abstract Factory Pattern</li>
</ul>
