@page "/rulesEngineDemo"

<PageTitle>Policy: @PageTitlePolicyNumber</PageTitle>

<h1>Rules Engine Demo</h1>

@* ToDo: Make a Component *@
@if (!string.IsNullOrEmpty(Message))
{
    <div class="alert @AlertClass text-center">
        <strong>@Message</strong>
    </div>
}

<textarea id="acordPolicy" rows="15" cols="150" @bind="@AcordXml"></textarea>

<textarea id="policy" rows="15" cols="150" @bind="@PolicyJson"></textarea>

<br>

<button class="btn btn-primary" @onclick="ConvertToPolicy">Covert To Policy</button>